---
layout: default 
---

<!-- cover -->

<h1>{{ site.title }}</h1>
<h3>by {{ site.author.name }}</h3>
<h3>site hosted by {{ site.hostedby }}</h3>
<h4>suggest changes at <a href="{{ site.repo }}">{{ site.repo }}</a></h4>

<!-- chapters -->

{% for chapter in site.chapters %}

<div class='chapter'>
  <h2>{{ chapter.title }}</h2>

  {{ chapter.content }}
</div>

{% endfor %}
